doctype html
html
  head
    include includes/head.pug
    title Welcome | EvaScribe

  body
    include includes/preloader.pug
    // Content start

    // Wrapper Start
    .wrapper
      // Sidebar
      include includes/sidebar.pug
      // TOP Nav Bar
      .iq-top-navbar
        .iq-navbar-custom
          .iq-sidebar-logo
            .top-logo
              a.logo(href='/')
                img.img-fluid(src='../images/logo.png' alt='')
                span EvaScribe
          .navbar-breadcrumb
            h5.mb-0 Dashboard
            nav(aria-label='breadcrumb')
              ul.breadcrumb
                li.breadcrumb-item
                  a(href='/') Home
                li.breadcrumb-item.active(aria-current='page') Create Records
          nav.navbar.navbar-expand-lg.navbar-light.p-0
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
              i.ri-menu-3-line
            .iq-menu-bt.align-self-center
              .wrapper-menu
                .line-menu.half.start
                .line-menu
                .line-menu.half.end
            #navbarSupportedContent.collapse.navbar-collapse
              ul.navbar-nav.ml-auto.navbar-list
                li.nav-item.iq-full-screen
                  a#btnFullscreen.iq-waves-effect(href='#')
                    i.ri-fullscreen-line
            ul.navbar-list
              li
                a.search-toggle.iq-waves-effect.bg-primary.text-white(href='#')
                  img.img-fluid.rounded(src='../images/user/08.jpg' alt='user')
                .iq-sub-dropdown.iq-user-dropdown
                  .iq-card.iq-card-block.iq-card-stretch.iq-card-height.shadow-none.m-0
                    .iq-card-body.p-0
                      .bg-primary.p-3
                        h5.mb-0.text-white.line-height Hello Eva
                      .d-inline-block.w-100.text-center.p-3
                        a.iq-bg-danger.iq-sign-btn(href='sign-in.html' role='button')
                          | Sign out
                          i.ri-login-box-line.ml-2
      // TOP Nav Bar END
      // Page Content
      #content-page.content-page
        .container-fluid
          .row
            .col-12
              .iq-card
                .iq-card-header.d-flex.justify-content-between
                  .iq-header-title
                    h4.card-title Student's Lending Information
                .iq-card-body
                  ul#myTab-1.nav.nav-tabs(role='tablist')
                    li.nav-item
                      a#assign-tab.nav-link.active(data-toggle='tab' href='#assign' role='tab' aria-controls='assign' aria-selected='true') Assign Book
                    li.nav-item
                      a#changeinfo-tab.nav-link(data-toggle='tab' href='#changeinfo' role='tab' aria-controls='changeinfo' aria-selected='false') Change Profile Info

                  #myTabContent-2.tab-content
                    #assign.tab-pane.fade.active.show(role='tabpanel' aria-labelledby='assign-tab')
                      p.mt-4
                        | Fill the bellow fields with information about the book being lent by the student:

                      form#assign.row(action="/updatebook" name="assign" method="POST")
                        .col-md-6
                          .form-group
                            label(for='booktitle') Book's Title*
                            input#booktitle.form-control(type='text' name="booktitle" placeholder='Enter Book\'s Title')
                        .col-md-6
                          .form-group
                            label(for='booknum') Book's Number*
                            input#booknum.form-control(type='text' name="booknum" placeholder='Enter Book\'s Number')
                        //- .col-md-6
                        //-   .form-group
                        //-     label(for='exampleInputdate') Date Borrowed
                        //-     input#dateborrowed.form-control.form-control-sm(name='dateborrowed' type='date')
                        .col-md-6
                          .form-group
                            label(for='condition') Book's condition
                            textarea#condition.form-control(rows='5' name="condition")
                        .col-12
                          button#assignbtn.btn.btn-primary.mt-3(type='button') Assign Book

                    #changeinfo.tab-pane.fade(role='tabpanel' aria-labelledby='changeinfo-tab')
                      p.mt-4
                        | Enter the student's information in the fields below:

                      form#create.row(action="/updateinfo" name="create" method="POST")
                        - var val = data
                          p#id.hiddeninput= val._id
                          .col-md-6
                            .form-group
                              label(for='name') Student Name*
                              input#name.form-control(type='text' name="name" value=val.name placeholder='Enter Student\'s Name')
                          .col-md-6
                            .form-group
                              label(for='studentid') Student ID Number*
                              input#studentid.form-control(type='text' name="studentid" value=val.studentid placeholder='Enter Student\'s ID Number')
                          .col-md-6
                            .form-group
                              label(for='libid') Library Card Number*
                              input#libid.form-control(type='text' name="libid" value=val.libcardno placeholder='Enter Library Card Number')
                          .col-md-6
                            .form-group
                              label(for='phoneno') Phone Number*
                              input#phoneno.form-control(type='number' name="phoneno" value=val.phoneno placeholder='Enter Student\'s Phone Number')
                          .col-md-6
                            .form-group
                              label(for='feestats') Fee Status*
                              select#feestats.form-control.form-control-sm(name="feestats")
                                if val.feestats = true
                                  option(value='') Select one
                                  option(value='Paid' selected) Paid
                                  option(value='Not complete') Not complete
                                else
                                  option(value='') Select one
                                  option(value='Paid' selected) Paid
                                  option(value='Not complete' selected) Not complete

                        .col-12
                          button.btn.btn-primary.mt-3#updatebtn(type='button') Save Changes

            .col-12
              .iq-card
                .iq-card-header.d-flex.justify-content-between
                  .iq-header-title
                    h4.card-title Books Lent
                  .iq-card-header-toolbar.d-flex.align-items-center
                    .dropdown
                      span#dropdownMenuButton1.dropdown-toggle(data-toggle='dropdown' aria-expanded='false')
                        i.ri-more-2-fill
                      .dropdown-menu.dropdown-menu-right.editinfo(aria-labelledby='dropdownMenuButton' style='')
                        a.dropdown-item.active.text-white(href='javascript:;')
                          i.ri-eye-fill.mr-2
                          | View
                        a.dropdown-item(href='javascript:;')
                          i.ri-delete-bin-6-fill.mr-2
                          | Delete
                        //- a.dropdown-item(href='javascript:;')
                        //-   i.ri-pencil-fill.mr-2
                        //-   | Edit
                .iq-card-body
                  -var userid = data._id
                    .userid.hiddeninput= userid
                  .table-responsive
                    table.table.mb-0.table-borderless.text-center
                      thead
                        th(scope='col' hidden) ID
                        th(scope='col') Book's name
                        th(scope='col') Book's ID
                        th(scope='col') Borrow date
                        th(scope='col') Return date
                        th(scope='col') Timeline
                        th.selectopt(scope='col') Select
                        //- th.editopt(scope='col') Edit
                      tbody
                        each val in data.books
                          tr
                            td(hidden).uniqueid.val_id= val._id
                            td= val.title
                            td= val.bookid
                            td= new Date(val.dateborrowed).toISOString()
                            td= new Date(val.returndate).toISOString()
                            td
                              - var Difference_In_Time = new Date(val.returndate).getTime() - new Date().getTime();
                              - var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);

                              - var dwbTime = new Date().getTime() - new Date(val.dateborrowed).getTime();
                              - var dwb = dwbTime / (1000 * 3600 * 24);
                              - var dwbPercentage = (dwb / 7)*100;

                                .iq-progress-bar
                                
                                  if dwbPercentage <= 60
                                    span.bg-success(data-percent=dwbPercentage style='transition: width 2s ease 0s; width: 90%;')
                                  else if dwbPercentage > 60 && dwbPercentage <= 100
                                    span.bg-warning(data-percent=dwbPercentage style='transition: width 2s ease 0s; width: 90%;')
                                  if dwbPercentage > 100
                                    span.bg-danger(data-percent=dwbPercentage style='transition: width 2s ease 0s; width: 90%;')

                            td.selectopt
                              input(type='checkbox' name=val._id)
                            //- td.editopt
                            //-   a.btn.btn-success(href='/'+val._id)
                            //-     i.ri-settings-4-fill
                            //-     | Edit

                  .d-inline-block
                    button.btn.btn-danger.selectoptbtn.mr-3.mt-3#deleteonebook(type='button') Delete Selected
                  .d-inline-block
                    button.btn.btn-outline-danger.selectoptbtn.mt-3(type='button' data-toggle='modal' data-target='.delete-all')
                      i.ri-alert-line
                      | Delete All
                  .modal.fade.delete-all(tabindex='-1' role='dialog' aria-hidden='true')
                      .modal-dialog.modal-sm
                          .modal-content
                              .modal-header
                                  h5.modal-title Warning!
                                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                                  span(aria-hidden='true') &times;
                              .modal-body
                                  p Are you sure you want to delete all records?
                              .modal-footer
                                  //- form(action="", method="delete")
                                  button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                                  button.btn.btn-danger#deleteallbooks(type='button') Delete All


    // Wrapper END

    include includes/footer.pug

    // Content end

    include includes/scripts.pug