doctype html
html
  head
    include includes/head.pug
    title Welcome | EvaScribe

  body
    include includes/preloader.pug
    // Content start

    // Wrapper Start
    .wrapper
      // Sidebar
      include includes/sidebar.pug
      // TOP Nav Bar
      .iq-top-navbar
        .iq-navbar-custom
          .iq-sidebar-logo
            .top-logo
              a.logo(href='/')
                img.img-fluid(src='../images/logo.png' alt='')
                span EvaScribe
          .navbar-breadcrumb
            h5.mb-0 Dashboard
            nav(aria-label='breadcrumb')
              ul.breadcrumb
                li.breadcrumb-item
                  a(href='/') Home
                li.breadcrumb-item.active(aria-current='page') Home
          nav.navbar.navbar-expand-lg.navbar-light.p-0
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
              i.ri-menu-3-line
            .iq-menu-bt.align-self-center
              .wrapper-menu
                .line-menu.half.start
                .line-menu
                .line-menu.half.end
            #navbarSupportedContent.collapse.navbar-collapse
              ul.navbar-nav.ml-auto.navbar-list
                li.nav-item.iq-full-screen
                  a#btnFullscreen.iq-waves-effect(href='#')
                    i.ri-fullscreen-line
            ul.navbar-list
              li
                a.search-toggle.iq-waves-effect.bg-primary.text-white(href='#')
                  img.img-fluid.rounded(src='../images/user/08.jpg' alt='user')
                .iq-sub-dropdown.iq-user-dropdown
                  .iq-card.iq-card-block.iq-card-stretch.iq-card-height.shadow-none.m-0
                    .iq-card-body.p-0
                      .bg-primary.p-3
                        h5.mb-0.text-white.line-height Hello Eva
                      .d-inline-block.w-100.text-center.p-3
                        a.iq-bg-danger.iq-sign-btn(href='sign-in.html' role='button')
                          | Sign out
                          i.ri-login-box-line.ml-2
      // TOP Nav Bar END
      // Page Content
      #content-page.content-page
        .container-fluid
          .row
            .col-md-12
              .iq-card
                .iq-card-header.d-flex.justify-content-between
                  .iq-header-title
                    h4.card-title Reminders Timeline
                .iq-card-body
                  ul.iq-timeline
                    each val in reminderInfo
                      li
                        .timeline-dots.border-warning
                        h6.float-left.mb-1= val.name
                        a.float-right.mt-1(href="#" style="font-size: 12px;") Send a reminder
                        .d-inline-block.w-100
                          p.m-0 #{val.name} has #{val.books.length} books that need to be returned soon.
                          each book, index in val.books
                            p.m-0 Book #{index+1}: #{book.title} was borrowed on #{new Date(book.dateborrowed).toISOString()} and should be returned in #{Math.round((new Date(book.returndate).getTime() - new Date().getTime()) / (1000 * 3600 * 24)  )} days.

    // Wrapper END

    include includes/footer.pug

    // Content end

    include includes/scripts.pug